body {
    background: aliceblue;
    height: 1000px;
}

header{
    background-color: #e0e0e0;
    font-size: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#deck {
    height: 500px;
    background: #b3e8ca;
    border-radius: 10px;
    margin-top: 50px;
}